<section>
    <div class="container py-4">
    <h2 class="title mb-6 has-text-centered">Pets in Need</h2>
		<div class="columns is-multiline mb-6">
            {{!-- Displays all Pets requesting services --}}
			{{#each pets}}
                {{#unless requestAmount}}
                    <div class="column is-6 is-4-widescreen">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3"><img src={{picURL}} alt=""></figure>
                            </div>
                            <div class="card-content">
                                <div>
                                    <h4 class="title is-spaced is-4">{{petName}}</h4>
                            </div><br>
                            <div class="service">Mini Bio:</div>
                            <div style="height:80px !important">
                                    <p>{{petBio}}</p>
                            </div>
                            <div class="service">Reason for requesting help:</div>
                                <div style="height:50px !important">
                                    <p>{{helpReason}}</p>
                                </div>
                            <br>
                            <div><span class = "service">Service Requested: </span>{{serviceName}}</div>

                            <div>
                                <div>
                                    <span class = "service">Start Date: </span>{{date startDate}}
                                </div>
                                <div>
                                    <span class = "service">End Date: </span>{{date endDate}}
                                    </div>
                                </div>
                                <div>
                                    <span class = "service">Time: </span>{{timeOfDay}}
                                </div>
                                {{#if recurring}}
                                    <div>
                                        <span class = "service"> Frequency: </span>{{frequency}} on: {{#if sunday}}Sunday, {{/if}}{{#if monday}}Monday, {{/if}}{{#if tuesday}}Tuesday, {{/if}}{{#if wednesday}}Wednesday, {{/if}}{{#if thursday}}Thursday, {{/if}}{{#if friday}}Friday, {{/if}}{{#if saturday}}Saturday {{/if}}
                                    </div>
                                {{/if}}
                                {{#unless recurring}}
                                    <div>
                                        <span class = "service"> Frequency: one-time </span>
                                    </div>
                                {{/unless}}
                                <br>
                                <div>
                                    <a href="#" id="{{id}}"  data-type="handlebarBtn" helpType = "{{services_monetary}}" class="button volunteerBtn button-ikr is-primary btn" >Volunteer</a>
                                </div><br>
                                <div>
                                    <a href="/pet-info/{{serviceName}}/{{id}}" services_monetary="{{serviceName}}" id= "{{id}}" class="moreInfo">See more about {{petName}}</a>
                                </div>
                                <div>
                                    <p id="thanks{{id}}" class="hide">Thank you! This pet has been matched.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}

            {{!-- Displays all Pets requesting donations --}}
            {{#each pets }}
                {{#if requestAmount}}
                    <div class="column is-6 is-4-widescreen">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3"><img src={{picURL}} alt=""></figure>
                            </div>
                            <div class="card-content ">
                                <div>
                                    <h4 class="title is-spaced is-4">{{petName}}</h4>
                                </div><br>
                                <div class="service">Mini Bio:</div>
                                <div style="height:80px !important">
                                    <p>{{petBio}}</p>
                                </div>
                                <div class="service">Reason for requesting help:</div>
                                <div style="height:50px !important">
                                    <p>{{helpReason}}</p>
                                </div>
                                <br>
                                <table class="table is-fullwidth">
                                    <tbody>
                                        <tr>
                                        <td>
                                            <div class="raised">Raised: <span class="money" id="">${{raisedAmount}}</span></div>
                                        </td>
                                        <td class="has-text-right">
                                            <div class="goal">Goal: <span class="money" id="">${{requestAmount}}</span></div>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <progress class="progress is-warning" id="progress" value="{{divide raisedAmount requestAmount}}" max="100">{{subtract raisedAmount requestAmount}}</progress>
                                <br>

                                <div style="margin-top:15px">
                                    <a href="/donatepet.html"  data-type="handlebarBtn" id= "{{id}}" class="button button-ikr is-primary btn donateBtn">Donate</a>
                                </div>
                                <br>
                                <div>
                                    <a href="/pet-info/monetary/{{id}}" services_monetary="monetary" class="moreInfo" id= "{{id}}" >See more about {{petName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
		</div>

        <div class="buttons is-centered"><a class="button button-ikr is-primary" href="/all-pets">View All Pets</a></div>
    </div>
</section>










