<div class="container has-text-centered py-4">
    <h2 class="title mb-6">Pets in Need</h2>
		<div class="columns is-multiline mb-6">
			{{#each pets }}
            <div class="column is-6 is-4-widescreen">
                <div class="card">
                    <div class="card-image"><a href="#"><img src="" alt=""></a></div>
                    <div class="card-content py-6">
                        <h5 class="title is-5">{{petName}}</h5>
                        <progress class="progress is-warning" id="progress" value="" max="100"></progress>
                        <img src = {{picURL}}>
                        <p>{{petBio}}</p>
                        <a href="/pet-info/{{id}}" data-type="handlebarBtn" id= "{{id}}">See more about {{petName}}</a>
                        <div>
                            <a href="/donatepet.html" class="button">Donate</a>
                            <a href="#" id="{{id}}" helpType = "{{services_monetary}}" class="button volunteerBtn" >Volunteer</a>
                            <p id="thanks{{id}}" class="hide">Thank you! This pet has been matched.</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
		</div>
</div>










