
<div class="container has-text-centered py-4">
    <h2 class="title mb-6">{{pet.petName}}</h2>
        <div class="column is-6 is-4-widescreen">

            <div><img src="{{pet.picURL}}"></div>
            <div><p>Breed: {{pet.breed_type}}</p></div>
            <div><p>Age: {{pet.petAge}}</p></div>
            <div><p>Weight: {{pet.petWeight}}</p></div>
            <div><p>Reason for requesting help: {{pet.helpReason}}</p></div>
            <div><p>Type of help requested: {{pet.services_monetary}}</p></div>

        </div>
		<div class="buttons is-centered"><a class="button button-ikr is-primary" href="#">View All Pets</a></div>
</div>



