
<section>
    <div class="container py-4">

        <div class="columns">
            <div class="column is-6" style="background-color:white">
                <h2 class="title mb-6">{{pet.petName}}</h2>
                <div class="column">
                    <div><label class="label">Bio</label></div>
                    <div>{{pet.petBio}}</div><br>
                    <div><label class="label">Breed/Type</label></div>
                    <div>{{pet.breed_type}}</div><br>
                    <div><label class="label">Weight</label></div>
                    <div>{{pet.petWeight}}</div><br>
                    <div><label class="label">Age</label></div>
                    <div >{{pet.petAge}}</div><br>
                    <div><label class="label">Reason for requesting help: </label></div>
                    <div>{{pet.helpReason}}</div><br>
                    {{#if pet.requestAmount}}
                        <div><label class="label">Amount Requested: </label></div>
                        <div>${{pet.requestAmount}}</div><br>
                    {{/if}}
                    {{#unless pet.requestAmount}}
                        <div><label class="label">Service Requested: </label></div>
                        <div>{{pet.serviceName}}</div><br>
                        <div><label class="label">Start Date: </label></div>
                        <div>{{date pet.startDate}}</div><br>
                        <div><label class="label">End Date: </label></div>
                        <div>{{date pet.endDate}}</div><br>
                        <div><label class="label">Time: </label></div>
                        <div>{{pet.timeOfDay}}</div><br>
                        {{#if pet.recurring}}
                            <div>
                                <div><label class="label">Frequency: </label></div>
                                {{pet.frequency}} on: {{#if pet.sunday}}Sunday, {{/if}}{{#if pet.monday}}Monday, {{/if}}{{#if pet.tuesday}}Tuesday, {{/if}}{{#if pet.wednesday}}Wednesday, {{/if}}{{#if pet.thursday}}Thursday, {{/if}}{{#if pet.friday}}Friday, {{/if}}{{#if pet.saturday}}Saturday {{/if}}
                            </div><br>
                        {{/if}}
                        {{#unless pet.recurring}}
                            <div>
                                <div><label class="label">Frequency: </label></div>
                                <div>One-time</div>
                            </div><br>
                        {{/unless}}
                    {{/unless}}
                    <div><label class="label">Additional information: </label></div>
                    <div>{{pet.notes}}</div><br>
                </div>
            </div>
            <div class="column is-6">
                <div class="container">
                    <img src="{{pet.picURL}}">
                </div>
            </div>
        </div>

		<div class="buttons is-centered"><a class="button button-ikr is-primary" href="/all-pets">View All Pets</a></div>
</div>
</section>




